
<h1>Magic links</h1>

<% @service_data.each do |service, dates| %>
<h2><%= service.name %></h2>
<table class="index_table index"">
  <thead>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Owner</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% dates.each do |date, token| %>
    <tr>
      <td><%= date.year %></td>
      <td><%= date.strftime("%B") %></td>
      <td><%= "#{service.owner.full_name } <#{service.owner.email}>" if service.owner %></td>
      <td>
        <%= publish_service_metrics_url(
                                  service_id: service.id,
                                  year: date.year,
                                  month: date.month.to_s.rjust(2, '0'),
                                  publish_token: token)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>
