<main id="content" role="main">

  <a class="link-back" href="<%= view_data_department_metrics_path(@department) %>">Back to <%= @department.name %> list view</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge small-top-margin">
        <span class="prefix">Detailed data for</span>
        <%= @department.name %>
      </h1>
    </div>

    <aside class="column-one-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="xbold-small"><%= link_to 'Download data for this page (CSV)', url_for(request.params.merge(format: :csv)) %></strong>
      </div>
    </aside>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds detail-context">
      <ul class="list list-bullet">
        <li>
          <%= render 'view_data/metrics/time_period_selector', time_period: @metrics.time_period %>
        </li>
        <li>
          This data is aggregated from <a href="<%= view_data_department_metrics_path department_id: @department.natural_key,group_by: Metrics::GroupBy::Service %>"><%= pluralize(@department.services_count, 'service')%></a>
        </li>
      </ul>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Transactions received</h1>
      <p>
        These numbers tell you how much the organisation was used, and which channels were used the most.
      </p>
      <p>
        <a href="">See a detailed description of how transactions received is defined.</a>
      </p>
    </div>
  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Transactions processed</h1>
      <p>
        These numbers tell you how many transactions were processed by the organisation, and how well these transactions met users' needs.
      </p>
      <p>
        <a href="">See a detailed description of how transactions processed is defined.</a>
      </p>
    </div>
  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Phone calls received</h1>
      <p>
        These numbers tell you how much call centres were used, and why.
      </p>
      <p>
        If the total number of calls is higher than the number of transactions, that’s an indication that effort is high compared to output.
      </p>
      <p>
        If the proportion of users calling to chase progress is high, this might mean that the organisation isn’t processing transactions as quickly as they should. A high proportion of calls to get more information could indicate that information available online is incomplete or unclear.
      </p>
      <p>
        <a href="">See a detailed description of how phone calls received is defined.</a>
      </p>
    </div>
  </div>
</main>
