<main id="content" role="main">

  <a class="link-back" href="<%= view_data_department_metrics_path(@department) %>">Back to <%= @department.name %> list view</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge small-top-margin">
        <span class="prefix">Detailed data for</span>
        <%= @department.name %>
      </h1>
    </div>

    <aside class="column-one-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="xbold-small"><%= link_to 'Download data for this page (CSV)', url_for(request.params.merge(format: :csv)) %></strong>
      </div>
    </aside>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds detail-context">
      <ul class="list list-bullet">
        <li>
          <%= render 'view_data/metrics/time_period_selector', time_period: @metrics.time_period %>
        </li>
        <li>
          This data is aggregated from <a href="<%= view_data_department_metrics_path department_id: @department.natural_key,group_by: Metrics::GroupBy::Service %>"><%= pluralize(@department.services_count, 'service')%></a>
        </li>
      </ul>
    </div>
  </div>

  <%= render partial: "view_data/transactions_received_section" %>

  <hr/>

  <%= render partial: "view_data/transactions_processed_section" %>

  <hr/>

  <%= render partial: "view_data/calls_received_section" %>

</main>
