<main id="content" role="main">

  <%= breadcrumbs %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge small-top-margin">
        <span class="prefix">Detailed data for</span>
        <%= @department.name %>
      </h1>
    </div>

    <aside class="column-one-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="xbold-small"><%= link_to 'Download data for this page (CSV)', url_for(request.params.merge(format: :csv)) %></strong>
      </div>
    </aside>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds department-context">
      <h1 class="heading-medium">Data about this organisation</h1>
      <p class="lede">
        Showing data for the year from  <%= time_tag @metrics.time_period.starts_on, @metrics.time_period.starts_on.to_formatted_s(:abbreviated_day_month_year), id: 'start_date' %> to <%= time_tag @metrics.time_period.ends_on, @metrics.time_period.ends_on.to_formatted_s(:abbreviated_day_month_year), id: 'end_date' %>
      </p>

      <p class="lede">
        Data is aggregated from <a href="<%= view_data_department_metrics_path department_id: @department.natural_key,group_by: Metrics::GroupBy::Service %>"><%= pluralize(@department.services_count, 'service')%></a> in <a href="<%= view_data_department_metrics_path department_id: @department.natural_key,group_by: Metrics::GroupBy::DeliveryOrganisation %>"><%= pluralize(@department.delivery_organisations_count, 'delivery organisation')%></a>
      </p>
    </div>
  </div>

  <% trxn = @metrics.metric_groups[0].metrics[0] %>
  <%= render partial: "view_data/shared/#{trxn.class.name.demodulize.underscore}_chart",
        locals: { metric_group: trxn } %>

  <% trxn_processed = @metrics.metric_groups[0].metrics[1] %>
  <%= render partial: "view_data/shared/#{trxn_processed.class.name.demodulize.underscore}_chart",
        locals: { metric_group: trxn_processed } %>

  <% trxn_calls = @metrics.metric_groups[0].metrics[2] %>
  <%= render partial: "view_data/shared/#{trxn_calls.class.name.demodulize.underscore}_chart",
        locals: { metric_group: trxn_calls } %>


  <a href="#">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Back to top
  </a>

</main>
