<div class="m-metric <% if calls_received_metric.sampled %>m-metric__sampled<% end %>">
  <ul class="list">
    <%= metric_item(Metrics::Items::CallsReceived, metric_value: calls_received_metric.total, html: { class: 'm-metric-headline' }) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(calls_received_metric.total) %></strong> calls received
      <% end %>

      <span class="total">
        <span class="bold-large"><%= metric_to_human(calls_received_metric.total) %></span>
        <span class="data-item bold">calls received</span>
      </span><% if calls_received_metric.sampled %><span class="sampled"><!-- this is intentionally squashed to preseve layout -->
          <span class="bold-large"><%= metric_to_human(calls_received_metric.sampled_total) %></span>
          <span class="data-item bold">calls sample size</span>
      <% end %>
    </span>
    <% end %>

    <%= metric_item(Metrics::Items::CallsReceivedGetInformation, sampled: calls_received_metric.sampled, metric_value: calls_received_metric.get_information) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(calls_received_metric.get_information) %></strong> calls received to get information (<%= metric_to_percentage(calls_received_metric.get_information_percentage) %>)
      <% end %>

      <span class="metric-name">To get information</span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage calls_received_metric.get_information_percentage %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::CallsReceivedChaseProgress, sampled: calls_received_metric.sampled, metric_value: calls_received_metric.chase_progress) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(calls_received_metric.chase_progress) %></strong> calls received to chase progress (<%= metric_to_percentage(calls_received_metric.chase_progress_percentage) %>)
      <% end %>

      <span class="metric-name">To chase progress</span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage calls_received_metric.chase_progress_percentage %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::CallsReceivedChallengeADecision, sampled: calls_received_metric.sampled, metric_value: calls_received_metric.challenge_a_decision) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(calls_received_metric.challenge_a_decision) %></strong> calls received to challenge a decision (<%= metric_to_percentage(calls_received_metric.challenge_a_decision_percentage) %>)
      <% end %>

      <span class="metric-name">To challenge a decision</span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage calls_received_metric.challenge_a_decision_percentage %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::CallsReceivedOther, sampled: calls_received_metric.sampled, metric_value: calls_received_metric.other) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(calls_received_metric.get_information) %></strong> other calls received (<%= metric_to_percentage(calls_received_metric.other_percentage) %>)
      <% end %>

      <span class="metric-name">Other</span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage calls_received_metric.other_percentage %>
      </span>
    <% end %>
  </ul>
</div>
