<div class="m-metric m-metric__transactions-received">
  <ul class="list">
    <li class="m-metric-headline">
      <span class="total">
        <span class="data-item bold-large"><%= metric_to_human(transactions_received_metric.total) %></span>
        <span class="data-item bold">transactions received</span>
      </span>
    </li>

    <li>
      <span class="metric-name">Online</span>
      <span class="metric-value">
        <span class="metric-value-count"><%= metric_to_human(transactions_received_metric.online) %></span>
        <span class="metric-value-percentage">(<%= metric_to_percentage(transactions_received_metric.online_percentage) %>)</span>
      </span>
    </li>

    <li>
      <span class="metric-name">Phone</span>
      <span class="metric-value">
        <span class="metric-value-count"><%= metric_to_human(transactions_received_metric.phone) %></span>
        <span class="metric-value-percentage">(<%= metric_to_percentage(transactions_received_metric.phone_percentage) %>)</span>
      </span>
    </li>

    <li>
      <span class="metric-name">Paper</span>
      <span class="metric-value">
        <span class="metric-value-count"><%= metric_to_human(transactions_received_metric.paper) %></span>
        <span class="metric-value-percentage">(<%= metric_to_percentage(transactions_received_metric.paper_percentage) %>)</span>
      </span>
    </li>

    <li>
      <span class="metric-name">Face to Face</span>
      <span class="metric-value">
        <span class="metric-value-count"><%= metric_to_human(transactions_received_metric.face_to_face) %></span>
        <span class="metric-value-percentage">(<%= metric_to_percentage(transactions_received_metric.face_to_face_percentage) %>)</span>
      </span>
    </li>

    <li>
      <span class="metric-name">Other</span>
      <span class="metric-value">
        <span class="metric-value-count"><%= metric_to_human(transactions_received_metric.other) %></span>
        <span class="metric-value-percentage">(<%= metric_to_percentage(transactions_received_metric.other_percentage) %>)</span>
      </span>
    </li>
  </ul>
</div>
