<div class="seperator"></div>

<main id="content" role="main" class="metrics">
  <%= breadcrumbs %>

  <header class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="prefix">Service data for</span>
        <%= @metrics.parent_organisation %>
      </h1>

      <div class="time-period-selector">
        Data for time period from <time>1 Jan 2016</time> to <time>31 Dec 2016</time>
        <span><a href="#">Change dates</a></span>
      </div>
    </div>

    <aside class="column-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data for this page (CSV 10KB)</a>
        </strong>
      </div>
    </div>
  </header>

  <nav class="grid-row">
    <ol>
      <li><a href="#" class="selected">Departments <span class="count">(12)</span></a></li>
      <li><a href="#">Delivery organisations <span class="count">(112)</span></a></li>
      <li><a href="#">Services <span class="count">(802)</span></a></li>
    </ol>
  </nav>

  <div class="grid-row o-filter-panel">
    <form action="/" method="get" class="column-full filter-row">
        <div class="m-sort-filter">
          <label for="filter-sort-by">Sort by</label>

          <select class="form-control" id="filter-sort-by">
            <option>Default</option>
          </select>

          <div class="m-sort-order">
            <a href="#">High to Low</a> | <a href="#">Low to High</a>
          </div>
        </div>

        <div class="m-search-filter">
          <label for="search-departments">Find department</label>
          <input type="text" id="search-departments" class="a-search-input" placeholder="Find department">
          <button class="a-search-button">Search</button>
        </div>
      </form>
  </div>

  <!--end of filter-->

  <div class="metrics-groups grid-row">
    <ul>

      <% @metrics.groups.each do |group|  %>
        <li class="metric-group">
          <h2 class="bold-medium"><%= link_to group.name, group.url %></h2>
          oversees <a href="#">2 delivery organisations</a> and <a href="#"><%= group.services_count %> <% if group.services_count == 1 %>service<% else %>services<% end %></a>

          <%= render group.metrics %>
        </li>
      <% end %>

    </ul>
  </div>
</main>
