<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <% page.breadcrumbs.each do |crumb| %>
        <li><%= link_to crumb.name, crumb.url %></li>
      <% end %>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <%= pluralize(@metrics.organisation_count, @metrics.organisation_singular_noun, @metrics_organisation_plural_noun) %> in <%= @metrics.parent_organisation %>
      </h1>
    </div>
    <div class="column-third">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data (CSV 10KB)</a>
        </strong>
      </div>
    </div>
  </div>



  <div class="grid-row filter-panel-horizontal">

    <form action="/filter" method="get" class="column-full filter-row">
      <fieldset>
        <label>Showing</label>
        <div class="form-group inline-forms width-data-type" id="filter-select-box">
          <select class="form-control" name="select-org-type" id="select-org-type">
            <option value="departments" {% if filter == 'departments' %} selected {% endif %}>Departments</option>
            <option value="agencies" {% if filter == 'agencies' %} selected {% endif %}>Agencies</option>
            <option value="services" {% if filter == 'services' %} selected {% endif %}>Services</option>
          </select>
        </div>
        <span class="connecting-word">in</span>
        <span class="filter-org-default">
          UK Government
        </span>
        <span class="filter-org-type">
          <div class="form-group inline-forms width-data-org">
            <select class="form-control" name ="select-organisation" id="select-organisation">
              <option value="government">UK Government</option>
              <optgroup id="departments" label="Departments">
                <option value="department-for-business-energy-and-industrial-strategy" {% if organisation == 'department-for-business-energy-and-industrial-strategy' %} selected {% endif %}>Department for Business, Energy &amp; Industrial Strategy</option>
                <option value="department-for-education" {% if organisation == 'department-for-education' %} selected {% endif %}>Department for Education</option>
                <option value="department-for-environment-food-and-rural-affairs" {% if organisation == 'department-for-environment-food-and-rural-affairs' %} selected {% endif %}>Department for Environment Food &amp; Rural Affairs</option>
                <option value="department-of-health" {% if organisation == 'department-of-health' %} selected {% endif %}>Department of Health</option>
                <option value="department-for-transport" {% if organisation == 'department-for-transport' %} selected {% endif %}>Department for Transport</option>
                <option value="hm-revenue-and-customs" {% if organisation == 'hm-revenue-and-customs' %} selected {% endif %}>HM Revenue &amp; Customs</option>
                <option value="ministry-of-justice" {% if organisation == 'ministry-of-justice' %} selected {% endif %}>Ministry of Justice</option>
              </optgroup>
              <optgroup id="agencies" label="Agencies & public bodies">
                <option value="companies-house" {% if organisation == 'companies-house' %} selected {% endif %}>Companies House</option>
                <option value="driver-and-vehicle-licensing-agency" {% if organisation == 'driver-and-vehicle-licensing-agency' %} selected {% endif %}>Driver and Vehicle Licensing Agency</option>
                <option value="driver-and-vehicle-standards-agency" {% if organisation == 'driver-and-vehicle-standards-agency' %} selected {% endif %}>Driver and Vehicle Standards Agency</option>
                <option value="environment-agency" {% if organisation == 'environment-agency' %} selected {% endif %}>Environment Agency</option>
                <option value="hm-courts-and-tribunals-service" {% if organisation == 'hm-courts-and-tribunals-service' %} selected {% endif %}>HM Courts and Tribunals Service</option>
                <option value="independent-police-complaints-comission" {% if organisation == 'independent-police-complaints-comission' %} selected {% endif %}>Independent Police Complaints Commission</option>
                <option value="intellectual-property-office" {% if organisation == 'intellectual-property-office' %} selected {% endif %}>Intellectual Property Office</option>
                <option value="land-registry" {% if organisation == 'land-registry' %} selected {% endif %}>Land Registry</option>
                <option value="national-offender-management-service" {% if organisation == 'national-offender-management-service' %} selected {% endif %}>National Offender Management Service</option>
                <option value="nhs-blood-and-transplant" {% if organisation == 'nhs-blood-and-transplant' %} selected {% endif %}>NHS Blood and Transplant</option>
                <option value="nhs-england" {% if organisation == 'nhs-england' %} selected {% endif %}>NHS England</option>
                <option value="ordnance-survey" {% if organisation == 'ordnance-survey' %} selected {% endif %}>Ordnance Survey</option>
                <option value="skills-funding-agency" {% if organisation == 'skills-funding-agency' %} selected {% endif %}>Skills Funding Agency</option>
                <option value="student-loans-company" {% if organisation == 'student-loans-company' %} selected {% endif %}>Student Loans Company</option>
              </optgroup>
            </select>
          </div>
        </span>
      </fieldset>

    <form class="column-full filter-row">
      <fieldset>
        <label>Sorted by</label>
        <select class="form-control form-control-1-2">
          <option>Transactions received</option>
          <option>– Online</option>
          <option>– Phone</option>
          <option>– Paper</option>
          <option>– Face-to-face</option>
          <option>– Other</option>
          <option>Transactions ending in an outcome</option>
          <option>– The user's intended outcome</option>
          <option>Calls received</option>
          <option>– To get information</option>
          <option>– To chase progress</option>
          <option>– To challenge a decision</option>
          <option>– Other calls</option>
          <option>Number of services</option>
          <option>Number of agencies</option>
        </select>
        <span class="reverse-sort font-xsmall"><a href="javascript:void()">⇅ Reverse order</a></span>
      </fieldset>

      <div class="grid-row">
        <div class="column-full">
          <p class="font-small mt_20 mb_0">Showing year from 1 January 2016 to 31 December 2016</p>
        </div>
      </div>

  </div>

  <!--end of filter-->

  <div class="grid-row">
    <ul class="filter-cards column-full">

      <% @metrics.each do |organisation, metrics|  %>
      <li class="column-full">
        <div class="column-one-quarter">
          <h2 class="bold-medium"><a href="{{ url_builder(organisation_type, row.friendly_id, row.agencies_count) }}"><%= organisation.name %></a></h2>
          <ul class="list font-xsmall">
            <li><strong><%= organisation.agencies_count %></strong> <% if organisation.agencies_count == 1 %>agency<% else %>agencies<% end %></li>
            <li><strong><%= organisation.services_count %></strong> <% if organisation.services_count == 1 %>service<% else %>services<% end %></li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <h3 class="data">
            <span class="data-item bold-large"><%= number_to_human(metrics.transactions_received.total, precision: 2, significant: true, units: {thousand: 'k', million: 'm', billion: 'b'}, format: '%n%u') %></span>
            <span class="data-item bold-xsmall">transactions received</span>
          </h3>
          <p class="font-xsmall metric-guidance">
            Transactions are split by the channel through which they’re received. The channel is the initial method of contact even if additional information is collected in other ways afterwards.
          </p>
          <ul class="list font-xsmall">
            <li>
              <span class="metric-name">
                <strong><%= number_to_percentage(metrics.transactions_received.online_percentage, precision: 0) %></strong> online
              </span>
              <p class="font-xsmall metric-guidance">
                Transactions received online. Doesn’t include services where you use an online tool to fill out a paper form or transactions received via web chat.
              </p>
            </li>
            <li>
              <span class="metric-name">
                <strong><%= number_to_percentage(metrics.transactions_received.phone_percentage, precision: 0) %></strong> phone
              </span>
              <p class="font-xsmall metric-guidance">
                Transactions received via the phone. Doesn’t include IVR or purely informational calls that don’t affect the outcome of a transaction.
              </p>
            </li>
            <li>
              <span class="metric-name">
                <strong><%= number_to_percentage(metrics.transactions_received.paper_percentage, precision: 0) %></strong> paper
              </span>
              <p class="font-xsmall metric-guidance">
                Transactions received via a paper form. The form can be sent in any way including by post, email, fax or uploading.
              </p>
            </li>
            <li>
              <span class="metric-name">
                <strong><%= number_to_percentage(metrics.transactions_received.face_to_face_percentage, precision: 0) %></strong> face-to-face
              </span>
              <p class="font-xsmall metric-guidance">
                The transaction must be received through a face-to-face meeting with someone working for the service. Doesn’t include handing in a paper form in person.
              </p>
            </li>
            <li>
              <span class="metric-name">
                <strong><%= number_to_percentage(metrics.transactions_received.other_percentage, precision: 0) %></strong> other
              </span>
              <p class="font-xsmall metric-guidance">
                Any other way the user provides the information needed to complete a transaction that doesn’t fit into the Online, Phone, Paper and Face-to-face channels.
              </p>
            </li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <h3 class="data">
            <span class="data-item bold-large"><%= number_to_human(metrics.transactions_with_outcome.count, precision: 2, significant: true, units: {thousand: 'k', million: 'm', billion: 'b'}, format: '%n%u') %></span>
            <span class="data-item bold-xsmall">transactions ending in an outcome</span>
          </h3>
          <p class="font-xsmall metric-guidance">
            The number of transactions where no further changes to the user’s relationship with government will be made in response to their request.
          </p>
          <ul class="list font-xsmall">
            <li>
              <span class="metric-name">
                <strong><%= number_to_percentage(metrics.transactions_with_outcome.with_intended_outcome_percentage, precision: 0) %></strong> end in user's intended outcome
              </span>
              <p class="font-xsmall metric-guidance">
                A subset of the transactions ending in an outcome where the outcome is what the user set out to achieve.
              </p>
            </li>
          </ul>
        </div>
        <div class="column-one-quarter">
          <h3 class="data">
            <span class="data-item bold-large">7.2m</span>
            <span class="data-item bold-xsmall">calls received</span>
          </h3>
          <p class="font-xsmall metric-guidance">
            The total number of calls to the service. These calls should be categorised into one of four groups based on the thing that triggered the user to contact the service via the phone.
          </p>
          <ul class="list font-xsmall">
            <li>
              <span class="metric-name">
                <strong>40%</strong> to get information
              </span>
              <p class="font-xsmall metric-guidance">
                Calls to get advice or guidance about the service.
              </p>
            </li>
            <li>
              <span class="metric-name">
                <strong>25%</strong> to chase progress
              </span>
              <p class="font-xsmall metric-guidance">
                Calls to find out about a decision or action that the user expects the service to take.
              </p>
            </li>
            <li>
              <span class="metric-name">
                <strong>20%</strong> to challenge a decision
              </span>
              <p class="font-xsmall metric-guidance">
                Calls to dispute an instruction or request from the service or to appeal an outcome.
              </p>
            </li>
            <li>
              <span class="metric-name">
                <strong>15%</strong> other
              </span>
              <p class="font-xsmall metric-guidance">
                Calls that don’t fit into the three previous categories.
              </p>
            </li>
            <li class="secondary-text-colour">Based on sample of 10,000 calls</li>
          </ul>
        </div>
        <div class="grid-row">
          <div class="column-full">
            <div class="show-guidance font-xsmall mb_0">
              <button type="button">
                <span>Show metric info</span>
                <span style="display: none">Hide metric info</span>
              </button>
            </div>
          </div>
        </div>
      </li>
      <% end %>

    </ul>

  </div>

</main>
