<div class="seperator"></div>

<main id="content" role="main" class="metrics">
  <%= breadcrumbs %>

  <header class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="prefix">Service data for</span>
        <%= @metrics.organisation_name %>
      </h1>

      <div class="time-period-selector">
        Data for time period from <time>1 Jan 2016</time> to <time>31 Dec 2016</time>
        <span><a href="#">Change dates</a></span>
      </div>
    </div>

    <aside class="column-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data for this page (CSV 10KB)</a>
        </strong>
      </div>
    </div>
  </header>

  <%= tabs(current_page: page) do |tabs| %>
    <% tabs.link_to tab_name('Departments', count: @metrics.departments_count), url_for(request.params.merge(group_by: Metrics::Group::Department)) if @metrics.has_departments? %>
    <% tabs.link_to tab_name('Delivery organisations', count: @metrics.delivery_organisations_count), url_for(request.params.merge(group_by: Metrics::Group::DeliveryOrganisation)) if @metrics.has_delivery_organisations? %>
    <% tabs.link_to tab_name('Services', count: @metrics.services_count), url_for(request.params.merge(group_by: Metrics::Group::Service)) if @metrics.has_services? %>
  <% end %>

  <div class="grid-row o-filter-panel">
    <form method="get" class="column-full filter-row">
        <div class="m-sort-filter">
          <label for="filter-sort-by">Sort by</label>

          <select class="form-control" id="filter-sort-by">
            <option>Default</option>
            <option>transactions received</option>
          </select>

          <div class="m-sort-order">
            <a href="#">High to Low</a> | <a href="#">Low to High</a>
          </div>
        </div>

        <div class="m-search-filter">
          <label for="search-departments">Find department</label>
          <input type="text" id="search-departments" class="a-search-input" placeholder="Find department">
          <button class="a-search-button">Search</button>
        </div>

        <button type="submit">Apply</button>
      </form>
  </div>

  <!--end of filter-->

  <div class="metrics-groups grid-row">
    <ul>

      <% @metrics.groups.each do |group|  %>
        <li class="metric-group">
		  <%= render group.entity, group: group  %>

          <div class="m-metrics">
            <%= render group.metrics %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</main>
