<div class="seperator"></div>

<main id="content" role="main" class="metrics">
  <%= breadcrumbs %>

  <header class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="prefix">Service data for</span>
        <%= @metrics.organisation_name %>
      </h1>

      <%= render 'time_period_selector' %>
    </div>

    <aside class="column-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data for this page (CSV 10KB)</a>
        </strong>
      </div>
    </div>
  </header>

  <%= tabs(current_page: page) do |tabs| %>
    <% tabs.link_to tab_name('Departments', count: @metrics.departments_count), url_for(request.params.merge(group_by: Metrics::Group::Department)) if @metrics.has_departments? %>
    <% tabs.link_to tab_name('Delivery organisations', count: @metrics.delivery_organisations_count), url_for(request.params.merge(group_by: Metrics::Group::DeliveryOrganisation)) if @metrics.has_delivery_organisations? %>
    <% tabs.link_to tab_name('Services', count: @metrics.services_count), url_for(request.params.merge(group_by: Metrics::Group::Service)) if @metrics.has_services? %>
  <% end %>

  <div class="grid-row o-filter-panel" data-behaviour="o-filter-panel">
    <%= form_for @metrics, as: :filter, url: '', method: 'get', class: 'column-full filter-row' do |f| %>
      <div class="m-sort-filter">
        <%= f.label :order_by, 'Sort by' %>
        <%= f.select :order_by, Metrics::OrderBy::ALL.map {|order| [order.name, order.identifier]}, {}, class: 'form-control' %>

        <div class="m-sort-order">
          <label><%= f.radio_button :order, Metrics::Order::Descending %> <span>High to Low</span></label>
          <label><%= f.radio_button :order, Metrics::Order::Ascending %> <span>Low to High</span></label>
          <!-- <a href="#">High to Low</a> | <a href="#">Low to High</a> -->
        </div>

        <button type="submit" class="a-apply-button">Apply</button>
      </div>

      <div class="m-search-filter">
        <label for="search-departments">Find department</label>
        <input type="text" id="search-departments" class="a-search-input" placeholder="Find department">
        <button class="a-search-button">Search</button>
      </div>
    <% end %>
  </div>

  <!--end of filter-->

  <div class="metrics-groups grid-row">
    <ul>

      <% @metrics.metric_groups.each do |metric_group|  %>
        <li class="metric-group">
          <%= render metric_group.entity, metric_group: metric_group  %>

          <div class="m-metrics">
            <%= render metric_group.metrics %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</main>
