<main id="content" role="main" class="metrics">
  <%= breadcrumbs %>

  <header class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="prefix">Service data for</span>
        <%= @metrics.organisation_name %>
      </h1>

      <%= render 'time_period_selector' %>
    </div>

    <aside class="column-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="bold-small">
          <a href="#">Download data for this page (CSV 10KB)</a>
        </strong>
      </div>
    </aside>
  </header>

  <div class="grid-row">
    <div class="column-full">

      <%= tabs(current_page: page) do |tabs| %>
        <% tabs.link_to tab_name('Departments', count: @metrics.departments_count), url_for(request.params.merge(group_by: Metrics::Group::Department)) if @metrics.has_departments? %>
        <% tabs.link_to tab_name('Delivery organisations', count: @metrics.delivery_organisations_count), url_for(request.params.merge(group_by: Metrics::Group::DeliveryOrganisation)) if @metrics.has_delivery_organisations? %>
        <% tabs.link_to tab_name('Services', count: @metrics.services_count), url_for(request.params.merge(group_by: Metrics::Group::Service)) if @metrics.has_services? %>
      <% end %>

      <div class="o-filter-panel" data-behaviour="o-filter-panel">
        <%= form_for @metrics, as: :filter, url: '', method: 'get', class: 'filter-row' do |f| %>
          <div class="m-sort-filter">
            <%= f.label :order_by, 'Sort by' %>
            <%= f.select :order_by, Metrics::OrderBy::ALL.map {|order| [order.name, order.identifier]}, {}, class: 'form-control' %>

            <div class="m-sort-order">
              <label><%= f.radio_button :order, Metrics::Order::Descending %> <span>High to Low</span></label>
              <label><%= f.radio_button :order, Metrics::Order::Ascending %> <span>Low to High</span></label>
              <!-- <a href="#">High to Low</a> | <a href="#">Low to High</a> -->
            </div>

            <button type="submit" class="a-apply-button">Apply</button>
          </div>
        <% end %>

        <div class="m-search-filter hidden" data-behaviour="m-search-filter">
          <label for="search-metrics">
            Find <%= @metrics.group_by_screen_name %>
          </label>
          <input type="search" id="search-metrics" class="a-search-input" placeholder="Example: environment">
          <input class="a-search-button" type="button" value="Search">
        </div>
      </div>

      <!--end of filter-->

      <div class="o-metric-groups" data-behaviour="o-metric-groups">
        <ul>
          <li class="m-metric-group m-metric-group__totals" data-behaviour="m-metric-group<% if @metrics.collapsed? %> m-metric-group__collapsed<% end %>">
            <div data-metric-group-expanded>
              <div class="m-metric-group-header">
                <h2 class="bold-medium">Total for <%= @metrics.organisation_name %></h2>
              </div>

              <div class="m-metrics">
                <%= render @metrics.organisation_metrics %>
              </div>
            </div>
          </li>

          <% @metrics.metric_groups.each do |metric_group|  %>
            <li class="m-metric-group" data-behaviour="m-metric-group<% if metric_group.collapsed? %> m-metric-group__collapsed<% end %>">
              <div data-metric-group-expanded>
                <%= render metric_group.entity, metric_group: metric_group  %>

                <div class="m-metrics">
                  <%= render metric_group.metrics %>
                </div>
              </div>
            </li>
          <% end %>

        </ul>
      </div>

    </div><!-- end of .column-full -->
  </div><!-- end of .grid-row -->
</main>
