<main id="content" role="main" class="container">
  <div class="grid-row">
    <%= render partial: 'error_summary', locals: {metrics: @monthly_service_metrics } %>

    <div class="column-two-thirds">
      <h1 class="heading-large">
        Provide data for <%= @service.name %> &ndash; <%= @monthly_service_metrics.month.to_formatted_s %>
      </h1>

      <p>
       Complete all fields for which your service collects data. Any fields you don't complete will appear as 'not provided' when published.</p>

      <p>Your data will be published on <%= @monthly_service_metrics.publish_date.to_formatted_s(:long_day_month_year) %>.
      </p>

      <%= form_for(@monthly_service_metrics, as: :metrics, url: publish_service_metrics_path(publish_token: params[:publish_token]), method: :patch, builder: FormHelper::MonthlyServiceMetricsFormBuilder) do |f| %>
        <%= f.fieldset 'Number of transactions received, split by channel' do %>
          <%= f.metric :online_transactions, applicable: @monthly_service_metrics.service.online_transactions_applicable %>
          <%= f.metric :email_transactions, applicable: @monthly_service_metrics.service.email_transactions_applicable %>
          <%= f.metric :phone_transactions, applicable: @monthly_service_metrics.service.phone_transactions_applicable %>
          <%= f.metric :paper_transactions, applicable: @monthly_service_metrics.service.paper_transactions_applicable %>
          <%= f.metric :face_to_face_transactions, applicable: @monthly_service_metrics.service.face_to_face_transactions_applicable %>

          <% if @monthly_service_metrics.service.other_transactions_applicable %>
            <p>
              If you receive transactions through another channel, please enter the
              name of the channel and the transactions received here.
            </p>

            <div class="form-group">
              <label class="form-label" for="services_other_name">
                Name of 'other' channel
              </label>
              <%= text_field(:services, :other_name,
                class: "form-control form-control-1-6",
                value: @monthly_service_metrics.service.other_name) %>
            </div>
          <% end %>


          <%= f.metric :other_transactions, applicable: @monthly_service_metrics.service.other_transactions_applicable, label: "Transactions received through this channel" %>
        <% end %>

        <%= f.fieldset 'Number of transactions processed' do %>
          <%= f.metric :transactions_processed, applicable: @monthly_service_metrics.service.transactions_processed_applicable %>
        <% end %>

        <%= f.fieldset 'Number of transactions accepted' do %>
          <div class="form-group <%= 'form-group-error' if field_has_errors(@monthly_service_metrics, :transactions_processed_accepted) %>">
            <%= f.metric_label :transactions_processed_accepted, applicable: @monthly_service_metrics.service.transactions_processed_accepted_applicable %>
            <%= render partial: 'field_errors', locals: { metrics: @monthly_service_metrics, field: :transactions_processed_accepted } %>
            <%= f.metric_number_field :transactions_processed_accepted, applicable: @monthly_service_metrics.service.transactions_processed_accepted_applicable , error: field_has_errors(@monthly_service_metrics, :transactions_processed_accepted) ? true : nil %>
          </div>
        <% end %>

        <%= f.fieldset 'Number of transactions rejected' do %>
          <div class="form-group <%= 'form-group-error' if field_has_errors(@monthly_service_metrics, :transactions_processed_rejected) %>">
            <%= f.metric_label :transactions_processed_rejected, applicable: @monthly_service_metrics.service.transactions_processed_rejected_applicable %>
            <%= render partial: 'field_errors', locals: { metrics: @monthly_service_metrics, field: :transactions_processed_rejected } %>
            <%= f.metric_number_field :transactions_processed_rejected, applicable: @monthly_service_metrics.service.transactions_processed_rejected_applicable , error: field_has_errors(@monthly_service_metrics, :transactions_processed_rejected) ? true : nil %>
          </div>
        <% end %>

        <% if @monthly_service_metrics.service.calls_received_applicable %>
          <%= f.fieldset 'Total number of phone calls received' do %>
            <div class="form-group <%= 'form-group-error' if field_has_errors(@monthly_service_metrics, :calls_received) %>">
              <%= f.metric_label :calls_received, applicable: @monthly_service_metrics.service.calls_received_applicable %>
              <%= render partial: 'field_errors', locals: {metrics: @monthly_service_metrics, field: :calls_received } %>
              <%= f.metric_number_field :calls_received, applicable: @monthly_service_metrics.service.calls_received_applicable, error: field_has_errors(@monthly_service_metrics, :calls_received) ? true : nil %>
            </div>
          <% end %>
        <% end %>

        <% if f.any_call_fields(@monthly_service_metrics.service) %>
          <%= f.fieldset 'Number of phone calls received, split by reasons for calling' do %>
            <div class="form-group <%= 'form-group-error' if field_has_errors(@monthly_service_metrics, :calls_received_perform_transaction) %>">
              <%= f.metric_label :calls_received_perform_transaction, applicable: @monthly_service_metrics.service.calls_received_perform_transaction_applicable, extra: "This value should be the same as the number of transactions received by phone" %>
              <%= render partial: 'field_errors', locals: {metrics: @monthly_service_metrics, field: :calls_received_perform_transaction} %>
              <%= f.metric_number_field :calls_received_perform_transaction, applicable: @monthly_service_metrics.service.calls_received_perform_transaction_applicable, error: field_has_errors(@monthly_service_metrics, :calls_received_perform_transaction) ? true : nil %>
            </div>
            <%= f.metric :calls_received_get_information, applicable: @monthly_service_metrics.service.calls_received_get_information_applicable %>
            <%= f.metric :calls_received_chase_progress, applicable: @monthly_service_metrics.service.calls_received_chase_progress_applicable %>
            <%= f.metric :calls_received_challenge_decision, applicable: @monthly_service_metrics.service.calls_received_challenge_decision_applicable %>


            <% if @monthly_service_metrics.service.calls_received_other_applicable %>
              <p>
                If you receive phone calls for other reasons, please enter the reason
                and the number of calls here.
              </p>

              <div class="form-group">
                <label class="form-label" for="services_calls_other_name">
                  Reason for calling
                </label>
                <%= text_field(:services, :calls_other_name,
                  class: "form-control form-control-1-6",
                  value: @monthly_service_metrics.service.calls_other_name) %>
              </div>
            <% end %>


            <%= f.metric :calls_received_other, applicable: @monthly_service_metrics.service.calls_received_other_applicable, label: "Number of telephone calls for this reason" %>

          <% end %>
        <% end %>

        <p>
          <%= f.submit 'Submit', id: 'submit-data', class: 'button' %>
        </p>
      <% end %>

      <p>Having problems with this form? Email <%= mail_to 'publish-data@digital.cabinet-office.gov.uk' %> for support.</p>
    </div>
  </div>
</main>
