<div class="masthead">
  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Get performance data from government services</h1>
        <%= link_to 'Start now', view_data_government_metrics_path(group_by: 'department'), class: 'hero-button', role: 'button' %>
      </div>
      <div class="hero__aside-image">
        <%= image_tag 'product-image.png', alt: 'Service Performance', role: 'presentation' %>
      </div>
    </div>
  </div>
</div>

<main id="content" role="main" class="container">
  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="heading-medium" id="1">Service Performance publishes KPIs from multi-channel services</h2>
      <p>Use it to understand</p>
      <ul class="list list-bullet indented-list">
        <li>demand for services and channels</li>
        <li>quality of outcomes for users</li>
      </ul>
    </div>
    <div class="column-one-half">
      <%= image_tag 'homepage-preview.svg', alt: 'Service Performance', role: 'presentation', width: '100%', height: '100%', class: 'preview-image' %>
    </div>
  </div> <!-- End row -->

  <hr />

  <div class="grid-row">
    <div class="column-two-thirds">
      <h3 class="heading-medium" id="2">Service Performance is already publishing KPIs<br/>
        from <%= @service_count %> services, operated by <%= @department_count %> departments</h3>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-quarter">
      <%= image_tag 'sp-homepage-logo-1.png', alt: 'BEIS', role: 'presentation', class: 'homepage-image' %>
    </div>
    <div class="column-one-quarter">
      <%= image_tag 'sp-homepage-logo-2.png', alt: 'Defra', role: 'presentation', class: 'homepage-image' %>
    </div>
    <div class="column-one-quarter">
      <%= image_tag 'sp-homepage-logo-3.png', alt: 'DfE', role: 'presentation', class: 'shorter-homepage-image' %>
    </div>
    <div class="column-one-quarter">
      <%= image_tag 'sp-homepage-logo-4.png', alt: 'MoJ', role: 'presentation', class: 'shorter-homepage-image' %>
    </div>
  </div> <!-- End row -->

</main>
