<main id="content" role="main">

  <%= breadcrumbs %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge small-top-margin">
        <span class="prefix">Performance data about</span>
        <%= @service.name %>
      </h1>

      <dl class="metadata">
        <dt>Data provider:</dt>
        <dd><%= @service.department.name %></dd>
        <dt>Collection method:</dt>
        <dd>Manual upload via spreadsheet</dd>
        <dt>Last updated:</dt>
        <dd>
          <!-- TODO: This should be the most recent metric date -->
          <%= @service.updated_at.strftime("%d %B %Y") %>
        </dd>
      </dl>
    </div>

    <aside class="column-one-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="xbold-small"><%= link_to 'Download data for this page (CSV)', url_for(request.params.merge(format: :csv)) %></strong>
      </div>
    </aside>

  </header>

  </div>

  <div class="grid-row">

    <div class="column-two-thirds service-context">
      <h1 class="heading-large">
        Information about the service
      </h1>

      <h2 class="heading-medium">Purpose of the service</h2>
      <%= render_markdown(@service.purpose) %>

      <h2 class="heading-medium">How it works</h2>
      <%= render_markdown(@service.how_it_works) %>

      <h2 class="heading-medium">Users</h2>
      <%= render_markdown(@service.typical_users) %>

         </div>

    <div class="column-one-third">
      <h2 class="heading-medium">Visit the service</h2>
      <p>See how it appears to users:</p>
        <ul class="list">
          <% if @service.start_page_url.present? %>
            <li><%= link_to 'Start page', @service.start_page_url %></li>
          <% end %>

          <% if @service.paper_form_url.present? %>
            <li><%= link_to 'Paper form', @service.paper_form_url %></li>
            <!-- <li>This service is delivered by <%= link_to %></li> -->
          <% end %>
        </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        Data about the service
      </h1>
      <ul class="list list-bullet">
        <li><%= render 'view_data/metrics/time_period_selector', time_period: @metrics.time_period %></li>
      </ul>

      <div class='m-metric-group'>
        <div>
          <div class='completeness service-context-completeness'>
            <%= @metrics.metric_groups.last.completeness %> of data points complete
          </div>

          <div class="m-metrics">
            <div class="column-one-half" style="padding:0;">
              <%= render @metrics.metric_groups.last.metrics[0], metric_group: @metrics.metric_groups.last %>
              <%= render @metrics.metric_groups.last.metrics[2], metric_group: @metrics.metric_groups.last %>
            </div>
            <div class="column-one-half" style="padding:0;">
              <%= render @metrics.metric_groups.last.metrics[1], metric_group: @metrics.metric_groups.last %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
