<main id="content" role="main">

  <%= breadcrumbs %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge small-top-margin">
        <span class="prefix">Information about</span>
        <%= @service.name %>
      </h1>

      <dl class="metadata">
        <dt>Data provider:</dt>
        <dd><%= @service.department.name %></dd>
        <dt>Collection method:</dt>
        <dd>Manual upload via spreadsheet</dd>
        <dt>Last updated:</dt>
        <dd>30 June 2017</dd>
      </dl>
    </div>

    <aside class="column-one-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="xbold-small"><%= link_to 'Download data for this page (CSV)', url_for(request.params.merge(format: :csv)) %></strong>
      </div>
    </aside>

  </header>

  </div>

  <div class="grid-row">

    <div class="column-two-thirds service-context">

      <h2 class="bold-medium">Purpose of the service</h2>
      <%= render_markdown(@service.purpose) %>

      <h2 class="bold-medium">How it works</h2>
      <%= render_markdown(@service.how_it_works) %>

      <h2 class="bold-medium">Users</h2>
      <%= render_markdown(@service.typical_users) %>

         </div>

    <div class="column-one-third">
      <h2 class="bold-medium">Visit the service</h2>
      <p>See how it appears to users:</p>
        <ul class="list">
          <% if @service.start_page_url.present? %>
            <li><%= link_to 'Start page', @service.start_page_url %></li>
          <% end %>

          <% if @service.paper_form_url.present? %>
            <li><%= link_to 'Paper form', @service.paper_form_url %></li>
          <% end %>
        </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Service data</h2>

      <div class='m-metric-group'>
        <div>
          <div class='completeness service-context-completeness'>
            <%= @metrics.metric_groups.last.completeness %> of data points complete
          </div>

          <div class="m-metrics">
            <%= render @metrics.metric_groups.last.metrics, metric_group: @metrics.metric_groups.last%>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
