<main id="content" role="main">

  <%= breadcrumbs %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge small-top-margin">
        <span class="prefix">Performance data about</span>
        <%= @service.name %>
      </h1>

      <dl class="metadata">
        <dt>Data provider:</dt>
        <dd><%= @service.department.name %></dd>
        <dt>Last updated:</dt>
        <dd>
          <!-- TODO: This should be the most recent metric date -->
          <%= @service.updated_at.strftime("%d %B %Y") %>
        </dd>
      </dl>
    </div>

    <aside class="column-one-third download">
      <div class="notice">
        <i class="icon icon-file-download">
          <span class="visuallyhidden">Download file</span>
        </i>
        <strong class="xbold-small"><%= link_to 'Download data for this page (CSV)', url_for(request.params.merge(format: :csv)) %></strong>
      </div>
    </aside>

  </header>

  </div>

  <div class="grid-row">

    <div class="column-two-thirds service-context">
      <h1 class="heading-large">
        Information about the service
      </h1>

      <h2 class="heading-medium">Purpose of the service</h2>
      <%= render_markdown(@service.purpose) %>

      <h2 class="heading-medium">How it works</h2>
      <%= render_markdown(@service.how_it_works) %>

      <h2 class="heading-medium">Users</h2>
      <%= render_markdown(@service.typical_users) %>

      <h2 class="heading-medium">Visit the service</h2>
      <ul class="list" style="list-style: none;">
        <% if @service.start_page_url.present? %>
          <li><%= link_to 'Start page', @service.start_page_url %></li>
        <% end %>

        <% if @service.paper_form_url.present? %>
          <li><%= link_to 'Paper form', @service.paper_form_url %></li>
        <% end %>
      </ul>

   </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Data about the service</h1>
      <ul class="list list-bullet">
        <li><%= render 'view_data/metrics/time_period_selector', time_period: @metrics.time_period %></li>
        <li>This service is delivered by <a href=""><%= @service.delivery_organisation.name %></a></li>
      </ul>
    </div>
  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">Transactions received</h1>
      <% if received_not_applicable?(@service) -%>
        <p>This service doesn't receive transactions</p>
      <% else -%>
        <p>
          These numbers tell you how much the organisation was used, and which channels were used the most.
        </p>

        <% transactions_received_applicable_list(@service).each do |metric_name, short_metric_name| %>
          <%= render partial: "view_data/charts/metric_chart", locals: {
                metric: metric_name,
                time_period: @metrics.time_period,
                current_metrics: @current_by_metrics[metric_name],
                previous_metrics: @previous_by_metrics[metric_name],
                total_label: trxn_rx_metric_label(short_metric_name),
                organisation: @service.name
          } %>
        <% end %>

      <% end %>
    </div>
  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">Transactions processed</h1>
      <% if processed_not_applicable?(@service) -%>
        <p>This service doesn't process transactions</p>
      <% else -%>
        <p>
          These numbers tell you how many transactions were processed by the organisation, and how well these transactions met users' needs.
        </p>

        <% transactions_processed_applicable_list(@service).each do |metric_name, short_metric_name| %>
            <%= render partial: "view_data/charts/metric_chart", locals: {
                  metric: metric_name,
                  time_period: @metrics.time_period,
                  current_metrics: @current_by_metrics[metric_name],
                  previous_metrics: @previous_by_metrics[metric_name],
                  total_label: trxn_proc_metric_label(short_metric_name),
                  organisation: @service.name
            } %>
          <% end %>

      <% end %>
    </div>
  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">Phone calls received</h1>
      <% if calls_not_applicable?(@service) -%>
        <p>This service doesn't receive calls</p>
      <% else -%>
        <p>
          These numbers tell you how much call centres were used, and why.
        </p>
        <p>
          If the total number of calls is higher than the number of transactions, that’s an indication that effort is high compared to output.
        </p>
        <p>
          If the proportion of users calling to chase progress is high, this might mean that the organisation isn’t processing transactions as quickly as they should. A high proportion of calls to get more information could indicate that information available online is incomplete or unclear.
        </p>

        <% calls_received_applicable_list(@service).each do |metric_name, short_metric_name| %>
        <%= render partial: "view_data/charts/metric_chart", locals: {
              metric: metric_name,
              time_period: @metrics.time_period,
              current_metrics: @current_by_metrics[metric_name],
              previous_metrics: @previous_by_metrics[metric_name],
              total_label: calls_metric_label(short_metric_name),
              organisation: @service.name
        } %>
        <% end %>

      <% end %>
    </div>
  </div>

</main>
