<p class="font-xsmall">
    <%= label %>
</p>
<div id="<%= id %>"
    class="chart"
    data-current-data="<%= current_data %>"
    data-current-range-label="<%= current_range_label %>"
    data-previous-data="<%= previous_data %>"
    data-previous-range-label="<%= previous_range_label %>"
    data-max-value="<%= max_value %>"
    data-months="<%= months %>"
>
</div>
