<div class="m-metric m-metric__transactions-received">
  <ul class="list">
    <%= metric_item(Metrics::Items::TransactionsReceived, transactions_received_metric.total, html: { class: 'm-metric-headline' }) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_received_metric.total) %></strong> transactions received
      <% end %>

      <span class="total">
        <% item.display_guidance = !@metrics.preview? %>
        <span class="metric-name bold">
          <a id="guidance-transactions-received" href="#" data-behaviour="a-metric-guidance-toggle">Transactions received</a>
        </span>

        <span class="metric-sparkline">
          <%=
            draw_sparkline(metric_group.sorted_metrics_by_month[:total_transactions])
          %>
        </span>

        <span class="metric-value bold-small">
          <%= metric_to_human(transactions_received_metric.total) %>
        </span>

        <% if @metrics.show_completeness? && !metric_group.totals? %>
          <%= item.incomplete transactions_received_metric.completeness %>
        <% end %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::TransactionsReceivedOnline, transactions_received_metric.online) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_received_metric.online) %></strong> online transactions (<%= metric_to_percentage(transactions_received_metric.online_percentage) %>)
      <% end %>
      <span class="metric-name">Online</span>
      <span class="metric-sparkline">
        <%=
          draw_sparkline(metric_group.sorted_metrics_by_month[:online_transactions])
        %>
      </span>

      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage transactions_received_metric.online_percentage %>
        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.completeness transactions_received_metric.completeness[:online] %>
        <% end %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::TransactionsReceivedPhone, transactions_received_metric.phone) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_received_metric.phone) %></strong> phone transactions (<%= metric_to_percentage(transactions_received_metric.phone_percentage) %>)
      <% end %>

      <span class="metric-name">Phone</span>
      <span class="metric-sparkline">
        <%=
          draw_sparkline(metric_group.sorted_metrics_by_month[:phone_transactions])
        %>
      </span>
      <span class="metric-value">

        <%= item.value %>
        <%= item.percentage transactions_received_metric.phone_percentage %>
        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.completeness transactions_received_metric.completeness[:phone] %>
        <% end %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::TransactionsReceivedPaper, transactions_received_metric.paper) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_received_metric.paper) %></strong> paper transactions (<%= metric_to_percentage(transactions_received_metric.paper_percentage) %>)
      <% end %>

      <span class="metric-name">Paper</span>
      <span class="metric-sparkline">
        <%=
          draw_sparkline(metric_group.sorted_metrics_by_month[:paper_transactions])
        %>
      </span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage transactions_received_metric.paper_percentage %>
        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.completeness transactions_received_metric.completeness[:paper] %>
        <% end %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::TransactionsReceivedFaceToFace, transactions_received_metric.face_to_face) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_received_metric.face_to_face) %></strong> face to face transactions (<%= metric_to_percentage(transactions_received_metric.face_to_face_percentage) %>)
      <% end %>

      <span class="metric-name">Face to Face</span>
      <span class="metric-sparkline">
        <%=
          draw_sparkline(metric_group.sorted_metrics_by_month[:face_to_face_transactions])
        %>
      </span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage transactions_received_metric.face_to_face_percentage %>
        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.completeness transactions_received_metric.completeness[:face_to_face] %>
        <% end %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::TransactionsReceivedOther, transactions_received_metric.other) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_received_metric.other) %></strong> other transactions (<%= metric_to_percentage(transactions_received_metric.other_percentage) %>)
      <% end %>

      <span class="metric-name"><%=
        if metric_group.service && !metric_group.service.other_name.blank?
          metric_group.service.other_name.capitalize
        else
          "Other"
        end
        %>
      </span>
      <span class="metric-sparkline">
        <%=
          draw_sparkline(metric_group.sorted_metrics_by_month[:other_transactions])
        %>
      </span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage transactions_received_metric.other_percentage %>
        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.completeness transactions_received_metric.completeness[:other] %>
        <% end %>
      </span>
    <% end %>
  </ul>
</div>
