<div class="m-metric m-metric__transactions-with-outcome">
  <ul class="list">
    <%= metric_item(Metrics::Items::TransactionsEndingInOutcome, transactions_processed_metric.total, html: { class: 'm-metric-headline' }) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_processed_metric.total) %></strong> transactions processed
      <% end %>

      <span class="total">
        <% item.display_guidance = !@metrics.preview? %>
        <span class="metric-name bold">
          <%= link_to "Transactions processed", current_group(metric_group.entity.class, metric_group, "transactions_processed") %>
        </span>

        <span class="metric-sparkline">
          <%=
            draw_sparkline(metric_group.sorted_metrics_by_month[:transactions_processed])
          %>
        </span>

        <span class="metric-value bold-small">
          <%= metric_to_human(transactions_processed_metric.total) %>
        </span>

        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.incomplete transactions_processed_metric.completeness %>
        <% end %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::TransactionsAccepted, transactions_processed_metric.accepted) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_processed_metric.accepted) %></strong> transactions accepted (<%= metric_to_percentage(transactions_processed_metric.accepted_percentage) %>)
      <% end %>
      <span class="metric-name"><%= link_to "Accepted", current_group(metric_group.entity.class, metric_group, "transactions_processed_accepted") %>
      </span>
      <span class="metric-sparkline">
        <%=
          draw_sparkline(metric_group.sorted_metrics_by_month[:transactions_processed_accepted])
        %>
      </span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage transactions_processed_metric.accepted_percentage %>
        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.completeness transactions_processed_metric.completeness[:accepted] %>
        <% end %>
      </span>
    <% end %>

    <%= metric_item(Metrics::Items::TransactionsRejected, transactions_processed_metric.rejected) do |item| %>
      <% item.description do %>
        <strong><%= metric_to_human(transactions_processed_metric.rejected) %></strong> transactions rejected (<%= metric_to_percentage(transactions_processed_metric.rejected_percentage) %>)
      <% end %>
      <span class="metric-name"><%= link_to "Rejected", current_group(metric_group.entity.class, metric_group, "transactions_processed_rejected") %>
      </span>
      <span class="metric-sparkline">
        <%=
          draw_sparkline(metric_group.sorted_metrics_by_month[:transactions_processed_rejected])
        %>
      </span>
      <span class="metric-value">
        <%= item.value %>
        <%= item.percentage transactions_processed_metric.rejected_percentage %>
        <% if @metrics.show_completeness? && !metric_group.totals?  %>
          <%= item.completeness transactions_processed_metric.completeness[:rejected] %>
        <% end %>
      </span>
    <% end %>
  </ul>
</div>
